<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./../view/css/style.css">
    <link rel="shortcut icon" href="./../view/media/icon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
    <img src="./../view/media/logo.png" alt="Worktalk logo" width="300px">
    <form method="POST">
        Username:&nbsp;<input type="text" name="username" autocomplete="off" required><br>
        Password:&nbsp;<input type="password" name="passwd" autocomplete="off" required><br><br>
        <input type="submit" value="Log in">
    </form>
    Not registered? <a href="./signup.php">Sign up</a>.<br>
    Forgot your password? <a href="./forgotten.php">Reset it</a>.
    </div>
</body>
</html>