<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="./../view/js/usercheck.js"></script>
    <link rel="stylesheet" href="./../view/css/style.css">
    <link rel="shortcut icon" href="./../view/media/icon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
    <img src="./../view/media/logo.png" alt="Worktalk logo" width="300px">
    <form method="POST">
        Username: <input type="text" name="username" id="username" onkeyup="usercheck()" autocomplete="off" required><span id="usercheck" class="usercheck"></span><br>
        Email: <input type="email" name="email" autocomplete="off" required><br><br>
        <a href="./">← Go back</a>
        <input type="submit" value="Sign Up">
    </form>
    </div>
</body>
</html>